<script>
    import { onMount } from "svelte";

    onMount(() => {
        console.log("123123123123");
        let url = `api/xxx`;
        fetch(url, {
            method: "get",
            mode: "no-cors",
            cache: "no-cache",
            credentials: "same-origin",
            headers: new Headers({
                "Content-Type": "application/json",
            }),
            redirect: "follow",
        })
            .then((v) => {
                return v.json();
            })
            .then((v) => {
                console.log("来自xxx:", v);
            })
            .catch((err) => {
                console.log(err);
            });
    });
</script>

<h1>Log-view</h1>
<h2>xxx</h2>
